<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>Successfully created account</h2>

        <div>
            Thanks for creating an account.
        </div>
        <table class="body-sub" role="presentation">
            <tr>
                <td>
                    <p class="f-fallback sub">If you’re having trouble with the
                        button above, copy and paste the URL below into your web
                        browser.</p>
                    <p class="f-fallback sub">
                     <a href="{{appURL}}/account/confirm/{{confirmation_token}}">{{appURL}}/account/confirm/{{confirmation_token}}"</a> 
                </td>
            </tr>
		</table>
    </body>
</html>
